extends ../layout

block extrahead
  title #{image.name}
  meta(property='og:title', content=image.name)
  meta(property='og:image', content=image.url)

block content
  img#img(src=image.url, width=image.size.width, height=image.size.height)
  script(src='/retina.js')